<section>
    <div class="page list-group">
        <div class="row">
            <div class="columns">
                <h1 class="events-header">{$ci->get_cache('module-1-news', 'category', $catid, 'name')}</h1>
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        {list action=module catid=$catid  page=1  }
                         {template "article-info.html"}
                        {/list}
                    </div>
                </div>
            </div>
           {template "layout/pagination.html"}
        </div>
    </div>

</section>