<section>
    <div class="global-challenges-index-page">
     {list action=category module=challenges pid=1 return=p}
        <div class="row">
            <div class="global-challenges-description">
                <h2 class="page-title">{$p.name}</h2>
                <p>{$p.description}</p>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="row">
                    {list action=module  field=title,url,thumb catid=$p.id order=updatetime return=t}
                    <div class="global-agenda-summary">
                        <a href="{$t.url}" title="{$t.title}">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="{man_thumb($t.thumb)}" alt="{$t.title}" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                               {$t.title}
                            </div>
                        </a>
                    </div>
                    {/list}

                </div>
            </div>
        </div>
    {/list}
    </div>
</section>