<section>
    <div class="global-challenges-page">
        <!--<div class="global-challenge-header" style="background-image: url('{man_thumb($thumb)}')">
            <div class="row">
                <div class="small-12 columns">
                    <div class="global-challenge-wrapper">
                        <h1 class="page-title"> {$title}</h1>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<h1 class="page-title"> {$title}</h1>-->
        <div class="page-julian-title" style="font-size:1.4em;text-align:center;font-weight:600;"> {$title}</div>
        <div class="row">
            <div class="global-challenge-about">
                
               {$content}
            </div>
        </div>
    </div>
</section>