<section>
    <div class="project">
        <div class="row">
            <div class="small-12 medium-12 large-8 columns">
                <h1 class="report__title">{$title}</h1>
            </div>
        </div>
        <div class="row">
            <div class="project-description-container">
                <img class="image" src="{man_thumb($thumb)}" alt="{$title}" />
                <div>
                  {$content}
                </div>

            </div>
            <!-- Related links -->
            <div class="project-links">
            </div>
        </div>
    </div>
</section>