{if $html}
{template "header.html", "/"}
<div class="page-container">
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="container">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="{SITE_URL}">首页</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="{MODULE_URL}">{MODULE_NAME}</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    {man_catpos($catid, '', true, '<li><a href="{url}">{name}</a><i class="fa fa-circle"></i></li>')}
                    <li>
                        <a href="{$cdata.url}">{$cdata.title}</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>评论</span>
                    </li>
                </ul>
                <div class="page-content-inner">
                    <div class="portlet light">
{else}
<!--关键JS开始-->
<script type="text/javascript">var memberpath = "{MEMBER_PATH}";</script>
<script type="text/javascript" src="{THEME_PATH}js/zh-cn.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery.min.js"></script>
<script type="text/javascript" src="{THEME_PATH}js/jquery.artDialog.js?skin=default"></script>
<script type="text/javascript" src="{THEME_PATH}js/dayrui.js"></script>
<!--关键js结束-->
{/if}
<!--评论主体-->
<link rel="stylesheet" type="text/css" href="{THEME_PATH}comment/css/embed.css" />
<link href="{THEME_PATH}admin/css/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
var comment_url = '{$curl}';
function man_todo_ajax() {
    {$js}(0, 1);
}
</script>
<script type="text/javascript" src="{THEME_PATH}comment/embed.js"></script>
<div id="ds-reset">
    <div class="ds-replybox" id="man_post_form" style="zoom:1;">
        <form class="ds_form_post" method="post" id="myform">
            <div class="ds-user">
                {if $myfield}
                <table class="myfield table_form" width="100%">
                    <tbody>
                    {$myfield}
                    </tbody>
                </table>
                {/if}
            </div>
            {if $is_review}
            <div class="ds-review" id="man_review_post">
                <ul>
                    {loop $review.option $i $t}
                    {if $t.use}
                    <li>
                        <input id="man_review_option_{$i}" type="hidden" name="review[{$i}]" value="0">
                        <span class="opname">
                        {$t.name}：
                        </span>
                        <span class="commstar">
                            {loop $review.value $ii $v}
                            <a id="man_review_value_{$i}_{$ii}" class="man_review_value_{$i} star{$ii}" href="javascript:man_review_value({$i}, {$ii});" title="{$v.name}"> </a>
                            {/loop}
                        </span>
                    </li>
                    {/if}
                    {/loop}
                </ul>
            </div>
            <div class="ds-clear"></div>
            {/if}
            <a class="ds-avatar" href="javascript:;">
                <img src="{man_avatar($member.uid)}">
            </a>
            <div class="ds-textarea-wrapper ds-rounded-top">
                <textarea class="J_CmFormField" name="content" placeholder="说点什么吧…">