<footer>
    <div class="footer__wrapper">
        <div class="row">
            <div class="footer__newsletter">
                <div class="newsletter">
                    <div class="newsletter__callout">
                        <div class="newsletter__callout__description">行业资讯更新</div>
                    </div>
                </div>
            </div>

            <div class="footer__socialmedia">
                <div class="footer__socialmedia-title">关注我们</div>
                <div class="footer__socialmedia-group">
                    <a href="{man_block(9)}" class="social-share--linkedin" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>{$ci->get_cache('page-1', 'data', 'index', 1, 'name')}</span>
                </div>
                <div class="list-group__items">
                    {list action=page module=index pid=1}
                    <div class="list-group__item">
                        <a href="{$t.url}">{$t.name}</a>
                    </div>
                    {/list}
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>资讯</span>
                </div>
                <div class="list-group__items">
                    {list action=category module=agenda pid=8 return=t}
                    <div class="list-group__item">
                        <a href="{$t.url}">{$t.name}</a>
                    </div>
                    {/list}
                </div>
            </div>
        </div>
        <!--<div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>战略合作</span>
                </div>
                <div class="list-group__items">
                    
                    <div class="list-group__item">
                        <a href="">合作机构</a>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="footer__info-container">
                <div class="footer__info-group">
                   {man_block(2)} （苏ICP备16051159）
                </div>
                <div class="footer__info-group">
                    <a href="{$ci->get_cache('page-1', 'data', 'index', 11, 'url')}">{$ci->get_cache('page-1', 'data', 'index', 11, 'name')}</a>
                </div>
            </div>
        </div>
    </div>
</footer>