<header style="margin-bottom:30px;">
    <div class="row nav">
        <ul class="header-container">
            <a class="drawer-icon js-show-hide-menu">
                <img src="{HOME_THEME_PATH}build/imgs/hamburger-d4a8924e2554b1c8a9206e72c97a44cc624d3da299ccb9e9d4a2a8ef37e76f72.svg" alt="Hamburger" />
            </a>
            <li class="header-item logo">
                <a href="/">
                {list action=navigator type=0 id=1}
                    <img class="header-wef__logo" src="{man_thumb($t.thumb)}" alt="Logo" />
                 {/list}
                </a>
            </li>

            <div class="header-pane-selectors">
                {list action=cache name=module order=displayorder}
                {if $t.dirname=='press'}{else}
                <li class="header-pane" data-pane="{$t.dirname}">
                    <a class="header-item__link" href="{$t.url}">{$t.name}</a>
                </li>
                {/if}
                {/list}
                <li class="header-pane" data-pane="about">
                    <a class="header-item__link" href="{$ci->get_cache('page-1', 'data', 'index', 1, 'url')}">关于</a>
                </li>
            </div>
            <div class="header-secondary-links">
                <li class="header-item">
                    <a class="header-item__link toplink" href="/">
                        <div class="header-toplink-button">
                            登录
                        </div>
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-item__link" href="/">English</a>
                </li>
            </div>
        </ul>
    </div>
</header>