<section>
    <div class="homepage">
        <div class="row">
            <div class="small-12 columns">
                <div class='sangar-slideshow-container' id='sangar-example'>
                    <div class='sangar-content-wrapper'>
                        {list action=navigator type=1 }
                        <div class='sangar-content'>
                            <img src='{man_thumb($t.thumb)}' alt="{$t.name}" title="{$t.title}" />
                            <a href='{$t.url}' target="_blank" title="{$t.title}"></a>
                            <div class="sangar-textbox">
                                <div class="sangar-textbox-inner sangar-position-sticky-bottom">
                                    <div class="sangar-textbox-content">
                                        <div style="color:#ffffff;">
                                            <p>{$t.name}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/list}
                    </div>
                </div>
            </div>
        </div>
        <!--banner end-->
    </div>

    <div class="highlights-section border-bottom">

        <div class="row">
            <div class="small-12 large-8 columns">
                <!--<div class="gutter-marking"></div>-->
                <div class="sbs-section-header">
                    <span>资讯</span>
                </div>
                {list action=module flag=1 module=agenda order=updatetime num=3 }
                <article class="tout tout--large tout--article">
                    <a class="tout__link" href="{$t.url}">
                        {template "data/image.html"}
                        <div class="tout__details">
                            <h3 class="tout__title">{$t.title}</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span class="article__author bold">{$t.author}</span>
                                    <span>{man_date($t._updatetime,null,'')}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>

                {/list}
            </div>
            <div class="small-12 medium-12 large-4 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="sbs-section-header">
                            <span>会议相关</span>
                        </div>
                        {list action=module flag=4 module=events order=updatetime num=6}
                        <article class="tout tout--mini tout--article julian-up-bottom" style="{if $key%2 == 0} border-bottom:none; {/if}" >
                            <a class="tout__link" href="{$t.url}">
                                {template "data/image-tiny.html"}
                                <div class="tout__details">
                                    <h3 class="tout__title">{$t.title}</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold"></span>
                                            <span>{man_date($t._updatetime,null,'')}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>

                        {/list}
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="sbs-section-header">
                    <span>学术</span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">

                <div class="tout-list tout-list--grid tout-list--grid-x2">
                    <div class="tout-list--grid__container">
                        {list action=module flag=1 module=reports order=updatetime num=4}
                        <article class="tout tout--default tout--event">
                            <a class="tout__link" href="{$t.url}">
                                {template "data/image.html"}
                                <div class="tout__details">
                                    <h3 class="tout__title">{$t.title}</h3>
                                    <p class="tout__description">{$t.description}</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>{man_date($t._updatetime,null,'')}</span>
                                            
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        {/list}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="sbs-section-header">
                    <span>战略合作</span>

                </div>
            </div>
            <div class="columns tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    {list action=module  module=challenges catid=2 order=updatetime num=3}
                    <article class="tout tout--default tout--article">
                        <a class="tout__link" href="{$t.url}">
                            {template "data/image.html"}
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">{$t.title}</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">{$t.author}</span>
                                        <span>{man_date($t._updatetime,null,'')}</span>
                                    </div>
                                </div>
                            </div></a>
                    </article>
                    {/list}

                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-12 columns">
                <div class="sbs-section-header">
                    <span>合作伙伴</span>
                </div>
            </div>
            <div class="columns tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    {list action=module module=challenges catid=3  num=10 return=t }
                    <article class="index-page--article">
                        <a class="tout__link" href="{$t.url}">
                            {template "data/image.html"}
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">{$t.title}</h3>
                            </div>
                        </a>
                    </article>
                    {/list}
                </div>
            </div>
        </div>
    </div>

</section>
<script type='text/javascript'>
    $(document).ready(function($) {
        $('#sangar-example').sangarSlider({
            timer: false, // true or false to have the timer
            width: 1050, // slideshow width
            height: 500, // slideshow height
            directionalNav: 'show',
            pagination: 'bullet', // bullet, content-horizontal, content-vertical, none
            paginationContent: ["Lorem Ipsum Dolor", "Dolor Sit Amet", "Consectetur", "Do Eiusmod", "Magna Aliqua"],
            paginationContentWidth: 200, // slideshow width
        });
    })
</script>
<style>
    .julian-up-bottom{
        padding-bottom:1.21em;
    }
</style>